<div class="card">
  <div class="card-block">
    <h4 class="card-title">
      <%= link_to customer.full_name, customer %>
    </h4>
  </div>

  <% if customer.image.present? %>
    <%= image_tag customer.image, class: 'card-img-top img-fluid mx-auto d-block' %>
  <% end %>

  <div class="card-block">
    <p class="card-text">
      <strong>Province: </strong>
      <% if customer.province.present? %>
        <%= customer.province.name %>
      <% else %>
        Unknown
      <% end %>
    </p>
  </div>

  <div class="card-block">
      <p class="card-text">
        <%= link_to customer.phone, "tel://#{customer.phone}" %>
      </p>
  </div>

  <div class="card-block">
      <p class="card-text">
        <%= mail_to customer.email %>
      </p>
  </div>

  <div class="card-block">
      <p class="card-text">
        <% if customers_to_call.include?(customer) %>
          <%= button_to 'Mark as Called', mark_as_called_customer_path(customer), class: "btn btn-secondary", method: :post %>
        <% else %>
          <%= button_to 'Remember to Call', remember_to_call_customer_path(customer), class: "btn btn-primary", method: :post %>
        <% end %>
      </p>
  </div>
</div>
