<!DOCTYPE html>
<html>
  <head>
    <title>CrmActiveadminBootstrap</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
        <h1><%= link_to 'Glutton CRM', root_path %></h1>
      </header>

      <div>
        You have visited this page <%= pluralize(@visit_count, 'time') %>.
      </div>

      <div>
        <%= debug session[:to_call_list] %>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
